html {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
    font-size: 9pt;
    line-height: 130%;
}

.logo {
    text-align: center;
    font-size: 14pt;
    margin: 80px auto 70px auto;
    max-width: 100%;
}

.links {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    max-width: 100%;
    font-size: 10pt;
}

.content {
    width: 600px;
    text-align: justify;
    margin: 0 auto 0 auto;
    max-width: 100%;
}

.contentCenter {
    width: 600px;
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 100%;
}

.content img {
    max-width: 100%;
}

.contentCenter img {
    max-width: 100%;
}

.script {
    font-family: monospace;
    font-size: 10pt;
}

.copyright {
    font-size: 8pt;
    margin: 70px auto 60px auto;
    text-align: center;
}

a,
a:visited {
    text-decoration: none;
    color: gray;
}



a:hover {
    text-decoration: none;
    color: black;
}

.logoLuneta {
    margin: 80px auto 100px auto;
    display: block;
    width: 90%;
    height: auto;
}

.icon {
    display: block;
    width: 120px;
    height: auto;
    margin: 0 auto 80px auto;
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.icon:hover {
    filter: none;
    transform: scale(1.2);
    transition: opacity 1s, transform ease-out 1s, filter ease-out 1s;
}

.appstore {
    text-align: center;
    margin-bottom: 100px;
}

.thankyou {
    max-width: 80%;
    margin: 0 auto 100px auto;
    text-align: center;
}

.socialColumn {
    margin-top: 0;
    text-align: center;
    margin-bottom: 100px;
}

.social {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 14pt;
}